---

---

<script>
    interface StatusData {
        status: number;
        time: string;
        msg: string;
        ping: number;
    }

    interface Site {
        id: string;
        url: string;
        name: string;
    }

    interface SiteStatus {
        site: Site;
        status: StatusData[];
        uptime: number;
    }

    interface ResponseData {
        siteStatuses: {
            [key: string]: SiteStatus;
        };
    }

    function updateUI(data: ResponseData) {
        for (const key in data.siteStatuses){
            statusDataArray.push(data.siteStatuses[key])
        }
        const statusElement = document.getElementById('status');
        if (statusElement) {
            statusElement.textContent = JSON.stringify(statusDataArray, null, 2);
        }
    }

    function connectSSE() {
        const eventSource = new EventSource('http://localhost:8080/status');

        eventSource.onmessage = (event) => {
            const data = JSON.parse(event.data) as ResponseData;
            updateUI(data);
        };

        eventSource.onerror = (error) => {
            console.error('SSE Error:', error);
            eventSource.close();
            setTimeout(connectSSE, 5000); // Reconnect after 5 seconds
        };
    }


    let statusDataArray : SiteStatus[] = []


    if (typeof window !== 'undefined') {
        connectSSE();
    }
</script>

<div class="bg-[#080B0F] text-white min-h-screen">
    <h1>Status Page</h1>

    {
        
    }

    <pre id="status">Waiting for status data...</pre>
</div>
